:root {
  --image_height: 100px;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* contains header and makes it look better with nav bar! */
#box {
    position: sticky;
    top: 0;
    height: calc(var(--image_height) - 20px);
    width: 100%;
    background-color: white;
    z-index: 0;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.45);
    margin-bottom: 0;
}

header {
    color: #52796F; 
    float: left;
    padding-top: 25px;
}

nav {
    float: right;
    margin: 1%;
    padding: 1%;
    position: sticky;
    z-index: 1;
}
nav ul {
    display: flex;
}
nav ul li {
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}
nav ul li a {
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    color: rgb(10, 92, 40);
    border-radius: 15px;
    transition: 1s ease;
    padding: 10px 20px 10px 20px;
    margin-right: 1em;
    outline: 1px rgb(10, 92, 40) solid;
    box-shadow: #52796F 5px 5px;
}
nav ul li a.highlighted {
    outline: 1px rgb(10, 92, 40) solid;
    background-color: rgb(72, 110, 86);
    color: white;
}
nav ul li a:hover {
    box-shadow: none;
}

/* for responsive design lol */
.larger {
    display: block; /*TODO: figure out if this is causing problems for grid */
}
#three-cols.larger {
    display: grid;
}
.smaller, .mobileDropdown {
    display: none;
}

main {
    clear: both;
    background-color: #52796F;
    /* width: 100%; */
    /* height: 100%; */
}
main img {
    float: left; 
    display: inline;
}
main ul {
    margin-left: 20px;
}
main p {
    text-indent: 2em;
    line-height: 1.5em;
}
main a {
    color: #689a8d;
    text-decoration: none;
    transition: 0.5s ease;
    border-bottom: 1px solid transparent;
}
main a:hover {
    border-color: #689a8d;
}
/* scrollbox is a class for each 'scrolling box' grid element */
.scrollbox {
    overflow: hidden;
}
.scrollbox a {
    /* display: none; */
    max-height: 0;
    text-decoration: none;
    overflow: hidden;
}
.scrollbox:hover a {
    /* display: block; */
    max-height: 15px;
    transition: 0.5s linear;
}
/* scrollable is a class assigned in the js to facilitate boxes only being scrollable on click */
.scrollbox.scrollable {
    overflow: scroll;
}

/* grid layout stuff yayyyy */
main #one-col {
    margin: 25px;
    margin-top: 0;
    padding: 25px;
    background-color: white;
    border: solid 2px #52796F;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;
    min-height: 80vh;
}
main #one-col ul {
    padding-left: 50px;
}
main #two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px;
    margin-top: 0;
    padding: 25px;
    gap: 25px;
}
main #two-cols > #one {
    background-color: white;
    grid-column: 1 / span 2;
    border: solid 2px #52796F;
    padding: 25px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;
    height: 75vh;
}
main #two-cols > #two {
    background-color: white;
    grid-column: 3 / span 2;
    border: solid 2px #52796F;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;
    padding-bottom: 20px;
    height: 75vh;
}
main #three-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
    gap: 25px;
}
main #three-cols > #one, main #three-cols > #four {
    background-color: white;
    grid-column: 1;
    border: solid 2px #52796F;
    padding: 25px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;
    height: 50vh;
}
main #three-cols > #two, main #three-cols > #five {
    background-color: white;
    grid-column: 2;
    border: solid 2px #52796F;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;
    padding-bottom: 20px;
    height: 50vh;
}
main #three-cols > #three, main #three-cols > #six {
    background-color: white;
    grid-column: 3;
    border: solid 2px #52796F;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;
    padding-bottom: 20px;
    height: 50vh;
}
main #three-fourths {
    grid-column: 1 / span 3;
    border: solid 2px #52796F;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding-bottom: 20px;
}

/* other main stuff not related to grid layout */
main form input {
    display: block;
    line-height: 2em;
    margin-bottom: 1em;
}
main form label {
    line-height: 2em;
    padding: 1em;
    margin-left: -1em;
}
main #ai {
    display: none;
}
main #ai.show {
    display: block;
}

footer {
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    border-top: solid 1px #52796F;
    background-color: #9eb5af;
}
footer p {
    text-align: center;
}
footer a {
    color: #3c5a52;
    text-decoration: none;
    transition: 0.5s ease;
    border-bottom: 1px solid transparent;
}
footer a:hover {
    border-color: #689a8d;
    color: whitesmoke;
}


/* ============================================ media queries ================================================*/
/* MEDIUM SIZE */
@media (max-width: 800px) {
    main #two-cols {
        /* remove 2 col layout */
        display: block;
    }
    main #one, main #three-fourths {
        margin-bottom: 25px;
    }
    main #two {
        margin-top: 25px;
    }

    nav ul li a {
        padding: 10px 20px 10px 20px;
    }
}

/* MOBILE SIZE */
@media (max-width: 600px) {
    nav {
        top: 1.75em;
    }

    nav ul li a {
        padding: 5px 5px;
        margin: 0 18px;
        font-size: small;
    }

    main img {
        display: none;
    }
    /* for home page layout switch, removes photo and condenses stuff */
    .smaller {
        display: block;
    }
    .larger, #three-cols.larger {
        display: none;
    }
    #mini {
        background-color: white;
        border: solid 2px #52796F;
        padding: 25px;
        padding-bottom: 20px;
        margin: 0px 15px;
        box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;
    }
    #mini p {
        display: none;
    }
    #mini p.show {
        display: block;
    }

    #one-col.larger {
        display: none;
    }
}